Pillow==4.2.1
Pygments==2.2.0
decorator==4.0.11
fitparse==1.0.0
imageio==2.1.2
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
lxml==3.8.0
moviepy==0.2.3.2
numpy==1.13.1
olefile==0.44
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.2
python-tcxparser==0.7.2
simplegeneric==0.8.1
six==1.10.0
tqdm==4.11.2
traitlets==4.3.2
typing==3.6.1
wcwidth==0.1.7
